<html lang="en">
    <%- include('./partials/head.ejs') %>
<!-- hh -->
<body>
    <!-- ejs tags syntax: <%%>  :: server side rendring-->
    <!-- <%const name = 'fua'%> -->

    <div class="page">
        <%- include('./partials/nav.ejs') %>
        <!-- end of nav -->
        <div class="content">
            <h2>all blogs</h2>
            <%if(blogs.length > 0){ %>
                <% blogs.forEach(blog => { %>
                    <h3 class="title"><%= blog.title %></h3>
                    <p class="snippet"><%= blog.snippet %></p>
                    <% }) %>
                    <% } else { %>
                        <p>there is no blogs to display..</p>
            <% } %>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>